@model KermanCraft.Application.ViewModels.Course.CourseViewModel
@{
    ViewData["Title"] = "UpdateCourse";
}


<div class="portlet box border shadow">
    <div class="portlet-heading">
        <div class="portlet-title">
            <h3 class="title">
                <i class="icon-user"></i>
                فرم ویرایش دوره آموزشی
            </h3>
        </div><!-- /.portlet-title -->
    </div><!-- /.portlet-heading -->
    <div class="portlet-body m-auto ">
        <form role="form" method="POST" asp-action="UpdateCourse" asp-controller="EventCourse" asp-area="Artist" enctype="multipart/form-data">
            <div class="form-body">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="PeopleId"/>
                <input type="hidden" asp-for="CourseId"/>
                <div class="form-group">
                    <label asp-for="Subject">نام دوره</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="icon-user"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="نام دوره" asp-for="Subject">
                    </div><!-- /.input-group -->
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label asp-for="DateTime">تاریخ</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="icon-calendar"></i>
                        </span>
                        <input type="text" class="has-persian-datepicker form-control" asp-for="DateTime">
                    </div><!-- /.input-group -->
                    <span asp-validation-for="DateTime" class="text-danger"></span>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label asp-for="Text">توضیح</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="icon-calendar"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="توضیح" asp-for="Text" />
                    </div><!-- /.input-group -->
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label asp-for="Price">قیمت</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="icon-calendar"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="قیمت" asp-for="Price">
                    </div><!-- /.input-group -->
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div><!-- /.form-group -->

                <div class="form-group relative">
                    <input type="file" class="form-control" name="files" id="imgInp" asp-for="ImageUrl">
                    <label>آپلود فایل</label>
                    <div class="input-group round">
                        <input type="text" class="form-control file-input" placeholder="برای آپلود کلیک کنید">
                        <span class="input-group-btn input-group-sm">
                            <button type="button" class="btn btn-info">
                                <i class="icon-picture"></i>
                                آپلود عکس پوستر
                                <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                            </button>
                        </span>
                    </div><!-- /.input-group -->
                    <div class="help-block"></div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-info btn-curve">
                        <i class="icon-check"></i>
                        ذخیره
                        <div class="paper-ripple">
                            <div class="paper-ripple__background"></div>
                            <div class="paper-ripple__waves"></div>
                        </div>
                    </button>
                    <a asp-area="Artist" asp-controller="EventCourse" asp-action="CourseList" class="btn btn-warning btn-curve">
                        بازگشت
                        <i class="icon-close"></i>
                        <div class="paper-ripple">
                            <div class="paper-ripple__background"></div>
                            <div class="paper-ripple__waves"></div>
                        </div>
                    </a>
                </div><!-- /.form-actions -->
            </div>
        </form>

    </div><!-- /.portlet-body -->
</div>

@section scripts
{

    <!-- BEGIN PAGE JAVASCRIPT -->
    <script src="/assets/plugins/persian-date/persian-date.min.js"></script>
    <script src="/assets/plugins/persian-datepicker/js/persian-datepicker.min.js"></script>
    <script src="/assets/js/pages/calendar.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="~/js/PreviewImage.js"></script>

    <partial name="_ValidationScriptsPartial" />
    <!-- END PAGE JAVASCRIPT -->

}





