@model KermanCraft.Application.ViewModels.Artist.UpdateArtistViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="portlet box border shadow">
    <div class="portlet-heading">
        <div class="portlet-title">
            <h3 class="title">
                <i class="icon-user"></i>
                فرم ویرایش هنرمند
            </h3>
        </div><!-- /.portlet-title -->
    </div><!-- /.portlet-heading -->
    <div class="portlet-body m-auto ">

        <form role="form" method="POST" asp-action="UpdateArtist" asp-controller="Index" asp-area="Admin" enctype="multipart/form-data">
            <div class="form-body">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div>
                    <input asp-for="Id" type="hidden" />
                </div>
                <div class="form-group">
                    <label asp-for="Name">نام</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="icon-user"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="نام" asp-for="Name">
                    </div><!-- /.input-group -->
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label asp-for="Family">نام خانوادگی</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="icon-user"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="نام خانوادگی" asp-for="Family">

                    </div><!-- /.input-group -->
                    <span asp-validation-for="Family" class="text-danger"></span>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label asp-for="NationalId">کدملی</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="icon-tag"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="کدملی" asp-for="NationalId">

                    </div><!-- /.input-group -->
                    <span asp-validation-for="NationalId" class="text-danger"></span>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label asp-for="Email">ایمیل</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="icon-envelope"></i>
                        </span>
                        <input type="email" asp-for="Email" class="form-control ltr text-right" placeholder="ایمیل">
                    </div><!-- /.input-group -->
                    <span asp-validation-for="Email" class="text-danger"></span>

                </div><!-- /.form-group -->
                <div class="form-group">
                    <label asp-for="PhoneNumber">موبایل</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="icon-bell"></i>
                        </span>
                        <input type="number" class="form-control" placeholder="موبایل" asp-for="PhoneNumber">
                    </div><!-- /.input-group -->
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                </div><!-- /.form-group -->
                <div class="form-group">
                    <label asp-for="Birthday">تاریخ تولد</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="icon-calendar"></i>
                        </span>
                        <input type="text" class="has-persian-datepicker  form-control" value="@Model.Birthday" asp-for="Birthday">
                    </div><!-- /.input-group -->
                    <span asp-validation-for="Birthday" class="text-danger"></span>

                </div><!-- /.form-group -->
                <div class="form-group">
                    <label asp-for="Address">آدرس</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="icon-calendar"></i>
                        </span>
                        <textarea type="text" class="form-control" asp-for="Address"></textarea>
                    </div><!-- /.input-group -->
                    <span asp-validation-for="Address" class="text-danger"></span>

                </div><!-- /.form-group -->
                <div class="form-group">
                    <label asp-for="Achievement">دستاوردها</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="icon-calendar"></i>
                        </span>
                        <textarea type="text" class="form-control" asp-for="Achievement"></textarea>
                    </div><!-- /.input-group -->
                    <span asp-validation-for="Achievement" class="text-danger"></span>

                </div><!-- /.form-group -->
                <div class="form-group">
                    <label asp-for="Status">
                        فعال
                        @*<div class="input-group">*@
                        <input type="checkbox" class="form-control" asp-for="Status">
                        <!--</div>--><!-- /.input-group -->
                    </label>
                    <span asp-validation-for="Status" class="text-danger"></span>

                </div><!-- /.form-group -->

                <div class="form-group">
                    <label>عکس لوگو</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="icon-camera"></i>
                        </span>
                        <img src="/images/ArtistUser/@Model.ImageUrl" alt="عکس لوگو" id="blah" class="img-thumbnail" style="width: 200px; height: 200px;">
                    </div><!-- /.input-group -->
                </div><!-- /.form-group -->
                <div class="form-group relative">
                    <input type="file" class="form-control" name="files" id="imgInp" asp-for="ImageUrl">
                    <label>آپلود فایل</label>
                    <div class="input-group round">
                        <input type="text" class="form-control file-input" placeholder="برای آپلود کلیک کنید">
                        <span class="input-group-btn input-group-sm">
                            <button type="button" class="btn btn-info">
                                <i class="icon-picture"></i>
                                آپلود عکس کاربر
                                <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                            </button>
                        </span>
                    </div><!-- /.input-group -->
                    <div class="help-block"></div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-info btn-curve">
                        <i class="icon-check"></i>
                        ذخیره
                        <div class="paper-ripple">
                            <div class="paper-ripple__background"></div>
                            <div class="paper-ripple__waves"></div>
                        </div>
                    </button>
                    <a asp-area="Admin" asp-controller="Artist" asp-action="ArtistUserList" class="btn btn-warning btn-curve">
                        بازگشت
                        <i class="icon-close"></i>
                        <div class="paper-ripple">
                            <div class="paper-ripple__background"></div>
                            <div class="paper-ripple__waves"></div>
                        </div>
                    </a>
                </div><!-- /.form-actions -->
            </div>
        </form>
    </div><!-- /.portlet-body -->
</div>

@section scripts
{

    <!-- BEGIN PAGE JAVASCRIPT -->
    <script src="/assets/plugins/persian-date/persian-date.min.js"></script>
    <script src="/assets/plugins/persian-datepicker/js/persian-datepicker.min.js"></script>
    <script src="/assets/js/pages/calendar.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/js/PreviewImage.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <!-- END PAGE JAVASCRIPT -->

}

