
@{
    ViewData["Title"] = "CoursePaymentResult";
}

<link rel="stylesheet" href="~/front/Content/css/9.css" />
<div class="container-fluid  m">

    <h1 class="p">پرداخت با موفقیت انجام شد</h1>

    <hr />
    <h4 class="l">شماره پیگیری : @ViewBag.code</h4>

</div>

<br />
<br />
<br />
<br />


