@model KermanCraft.Application.ViewModels.Product.AddUpdateProductViewModel
@{
    ViewData["Title"] = "AddProduct";
}


<div class="portlet box border shadow">
    <div class="portlet-heading">
        <div class="portlet-title">
            <h3 class="title">
                <i class="icon-user"></i>
                فرم  ثبت محصول
            </h3>
        </div><!-- /.portlet-title -->
    </div><!-- /.portlet-heading -->
    <div class="portlet-body m-auto ">
        <form role="form" method="POST" asp-action="AddProduct" asp-controller="Product" asp-area="Admin" enctype="multipart/form-data">
            <div class="form-body">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="LanguageId">زبان</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-tablet"></i>
                        </span>
                        <select class="form-control" placeholder="زبان" asp-for="LanguageId">
                            <option value="1">فارسی</option>
                            <option value="2">انگلیسی</option>
                        </select>
                    </div><!-- /.input-group -->
                    <span asp-validation-for="LanguageId" class="text-danger"></span>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label asp-for="OwnerMobile">شماره موبایل صاحب اثر</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-tablet"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="شماره موبایل صاحب اثر" asp-for="OwnerMobile">
                    </div><!-- /.input-group -->
                    <span asp-validation-for="OwnerMobile" class="text-danger"></span>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label asp-for="ProductName">نام کالا</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-box"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="نام" asp-for="ProductName">
                    </div><!-- /.input-group -->
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label asp-for="Price">قیمت</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-money-check"></i>
                        </span>
                        <input type="number" class="form-control" placeholder="قیمت" asp-for="Price">
                    </div><!-- /.input-group -->
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label asp-for="Material">جنس</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-th"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="جنس" asp-for="Material">
                    </div><!-- /.input-group -->
                    <span asp-validation-for="Material" class="text-danger"></span>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label asp-for="Size">اندازه</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-text-height"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="سایز" asp-for="Size">
                    </div><!-- /.input-group -->
                    <span asp-validation-for="Size" class="text-danger"></span>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label asp-for="Weight">وزن</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-balance-scale"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="وزن" asp-for="Weight">
                    </div><!-- /.input-group -->
                    <span asp-validation-for="Weight" class="text-danger"></span>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label asp-for="Type">نوع</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-cog"></i>
                        </span>
                        <select asp-for="Type" class="form-control">
                            @foreach (var item in Model.ProductTypeViewModels)
                            {
                                <option value="@item.Name">@item.Name</option>
                            }
                        </select>
                    </div><!-- /.input-group -->
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label asp-for="Description">توضیحات</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fas fa-th-list"></i>
                        </span>
                        <textarea asp-for="Description" class="form-control" placeholder="توضیحات"></textarea>
                    </div><!-- /.input-group -->
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label asp-for="IsForSale">
                        برای فروش
                        <input type="checkbox" class="form-control icheckbox_square-grey " asp-for="IsForSale">
                    </label>
                    <span asp-validation-for="IsForSale" class="text-danger"></span>

                </div><!-- /.form-group -->
                <div class="form-group">
                    <label asp-for="Status">
                        فعال
                        <input type="checkbox" class="form-control icheckbox_square-grey " asp-for="Status">
                    </label>
                    <span asp-validation-for="Status" class="text-danger"></span>

                </div><!-- /.form-group -->

                <div class="form-group relative">
                    <input type="file" class="form-control" name="files" asp-for="ImageName" id="imgInp">
                    <label>آپلود فایل</label>
                    <div class="input-group round">
                        <input type="text" class="form-control file-input" asp-for="ImageName" placeholder="برای آپلود کلیک کنید">
                        <span class="input-group-btn input-group-sm">
                            <button type="button" class="btn btn-info">
                                <i class="icon-picture"></i>
                                آپلود عکس محصول
                                <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                            </button>
                        </span>
                    </div><!-- /.input-group -->
                    <div class="help-block"></div>
                </div>    <div class="form-group relative">
                    <input type="file" class="form-control" name="files" asp-for="ImageName" id="imgInp">
                    <label>آپلود فایل</label>
                    <div class="input-group round">
                        <input type="text" class="form-control file-input" asp-for="ImageName" placeholder="برای آپلود کلیک کنید">
                        <span class="input-group-btn input-group-sm">
                            <button type="button" class="btn btn-info">
                                <i class="icon-picture"></i>
                                آپلود عکس محصول
                                <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                            </button>
                        </span>
                    </div><!-- /.input-group -->
                    <div class="help-block"></div>
                </div>
                <div class="form-group relative">
                    <input type="file" class="form-control" name="files" asp-for="ImageName" id="imgInp">
                    <label>آپلود فایل</label>
                    <div class="input-group round">
                        <input type="text" class="form-control file-input" asp-for="ImageName" placeholder="برای آپلود کلیک کنید">
                        <span class="input-group-btn input-group-sm">
                            <button type="button" class="btn btn-info">
                                <i class="icon-picture"></i>
                                آپلود عکس محصول
                                <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                            </button>
                        </span>
                    </div><!-- /.input-group -->
                    <div class="help-block"></div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-info btn-round">
                        <i class="icon-check"></i>
                        ذخیره
                        <div class="paper-ripple">
                            <div class="paper-ripple__background"></div>
                            <div class="paper-ripple__waves"></div>
                        </div>
                    </button>
                    <a asp-area="Admin" asp-controller="Product" asp-action="ProductList" asp-route-id="@Model?.PeopleId" class="btn btn-warning btn-round">
                        بازگشت
                        <i class="icon-close"></i>
                        <div class="paper-ripple">
                            <div class="paper-ripple__background"></div>
                            <div class="paper-ripple__waves"></div>
                        </div>
                    </a>
                </div><!-- /.form-actions -->
            </div>
        </form>
    </div><!-- /.portlet-body -->
</div>



@section scripts
{

    <!-- BEGIN PAGE JAVASCRIPT -->

    
    <script src="~/js/PreviewImage.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <!-- END PAGE JAVASCRIPT -->

}
