

<link rel="stylesheet" href="~/front/Content/css/css2/bootstrap.min.css">
<link rel="stylesheet" href="~/front/Content/css/slider.css">

<script src="~/front/Script/jquery.min.js"></script>
<script src="~/front/Script/bootstrap.min.js"></script>
<br />
<br />
<br />
<h3 class="ph1">درباره ما</h3>
<br />
<div class="row">


    <div class="col-sm-6 col-md-6">

        <div class="container ">
            <br />
            <img src="~/front/Content/Images/reg2.jpg" alt="Los Angeles" style="width:100%;">


        </div>

    </div>
    <div class="col-sm-6 col-md-6">

        <div class=" ds container">
            <p class="pslide">
                در شرایطی که میزان فروش صنایع دستی یزد تنها در ۱۳ روز ایام نوروز به بالغ بر ۵ میلیارد در سال‌های گذشته می‌رسید، این میزان بر اساس برآوردهای معاونت صنایع دستی اداره کل میراث فرهنگی استان یزد در طول سال جاری به یک میلیارد تومان هم نرسیده است.

                تنوع صنایع دستی یزد بسیار بالاست و از ترمه که تولید آن در انحصار یزدی‌هاست تا میناکاری و قلم‌زنی و صنایع مس را شامل می‌شود بر این اساس هنرمندان بسیاری نیز در این عرصه ارتزاق می‌کنند.

                تولید یک متر ترمه برای حداقل سه نفر شغل ایجاد می‌کند با این حساب، حال که کرونا از یک سو و پایین آمدن قدرت خرید مردم از سوی دیگر، کمر به نابودی صنایع دستی بسته‌اند، با یک برآورد سطحی می‌توان به آمار بیکار شده‌های صنایع دستی تنها در شهر یزد پی برد.
                <br />در شرایطی که میزان فروش صنایع دستی یزد تنها در ۱۳ روز ایام نوروز به بالغ بر ۵ میلیارد در سال‌های گذشته می‌رسید، این میزان بر اساس برآوردهای معاونت صنایع دستی اداره کل میراث فرهنگی استان یزد در طول سال جاری به یک میلیارد تومان هم نرسیده است.

            </p>
        </div>


    </div>
</div>
<br />
<br />
<br />