@model KermanCraft.Application.ViewModels.Account.ForgetPasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}
<link rel="stylesheet" href="~/front/Content/css/Style3.css">


<div class="wrapper">
    <div class="inner">
        <div class="image-holder">
            <img src="~/front/Content/Images/registration-form-4.jpg" alt="ForgetPasswordImage">
        </div>
        <br />
        <form method="post" asp-controller="Home" asp-action="ChangePassword">
            <br />
            <input type="hidden" asp-for="UserId"/>
            <h3>تغییر رمز عبور</h3>
            <div asp-validation-summary="All">

            </div>
            <div>
                <input asp-for="NewPass"  type="password" placeholder="رمز عبور جدید" class="form-control">
            </div>
            <br />
            <div>
                <input type="password" asp-for="NewPassConfirm" placeholder="تایید رمز عبور" class="form-control" style="font-size: 15px;">
            </div>


            <div class="form-login">
                <button type="submit">بازیابی رمز</button>

            </div>
        </form>

    </div>
</div>

