@model IEnumerable<KermanCraft.Application.ViewModels.Article.ArticleViewModel>
@{
    ViewData["Title"] = "GetAllArticle";
}


<link rel="stylesheet" href="~/front/Content/css/cardrozane .css" />
<div class="container mt-5">
    <br /> <br />
    <h1 class="text-white  heading-1"><span> مقالات و کتاب</span></h1>

    <br />
    <br />
    <div class="row">
        @if (!Model.Any())
        {
            <div>موردی وجود ندارد!</div>
        }
        else
        {
            foreach (var item in Model)
            {
                <div class="col-lg-3 box col-md-6 col-xs-12 pl-1 pr-1">
                    <div class="card">
                        @if (item.ImageViewModels.Any())
                        {<img class="imgneg" src="~/images/Article/@item.ImageViewModels.First().ImageUrl" alt="ArticleImage" />}
                        else
                        {
                            <img class="imgneg" src="~/images/Window/37c051c2-5924-4252-bb0e-ce95bb3994a9.png" alt="ArticleImage"/>
                        }
                        <br />
                        <h5>@item.Subject</h5>
                        <br />
                        <hr />
                        <br />
                        @*<a class="textm">
                            لینک دانلود
                        </a>*@
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <a asp-controller="Home" asp-action="GetArticle" asp-route-articleId="@item.ArticleId" class="btn btnkhabar">جزییات </a>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>  
            }
           
        }

    </div>
    <br />
    <br />
    <br />
    <br />
</div>




