
@model IEnumerable<KermanCraft.Application.ViewModels.ArtGallery.ArtGalleryViewModel>
@{
    ViewData["Title"] = "GetAllArtGallery";
}

<link rel="stylesheet" href="~/front/Content/css/cardrozane .css" />
<div class="container mt-5">
    <br /> <br />
    <h1 class="text-white  heading-1"><span>نگارخانه</span></h1>

    <br />
    <br />
    <div class="row">
       
        @if (!Model.Any())
        {
            <div class ="text-right">موردی وجود ندارد!</div>
        }
        else
        {
            foreach (var item in Model)
            {
                <div class="col-lg-3 box col-md-6 col-xs-12 pl-1 pr-1">
                    <div class="card">
                        @if (item.ImageViewModels.Any())
                        {<img class="imgneg" src="~/images/ArtGallery/@item.ImageViewModels.First().ImageUrl" alt="ArtGallery" />}
                        else
                        {
                            <img class="imgneg" src="~/images/Window/37c051c2-5924-4252-bb0e-ce95bb3994a9.png" alt="ArtGallery"/>
                        }
                        <br />
                        <h5>@item.Name</h5>
                        <hr />

                        <p style="color:black">
                            @item.Description.Substring(0,5) ...
                        </p>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <a asp-controller="Home" asp-action="GetWindow" asp-route-artGalleryId="@item.ArtGalleryId" class=" btn btnkhabar">جزییات </a>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
    <br />
    <br />
    <br />
    <br />
</div>

<br />
<br />
<br />
<br />

