@model IEnumerable<KermanCraft.Application.ViewModels.Gallery.GalleryViewModel>
@{
    ViewData["Title"] = "GetAllGallery";
}

<link rel="stylesheet" href="~/front/Content/css/cardrozane .css" />
<div class="container mt-5">
    <br /> <br />
    <h1 class="text-white  heading-1"><span>نمایشگاه</span></h1>

    <br />
    <br />
    <div class="row">
        <div class="col-lg-3 box col-md-6 col-xs-12 pl-1 pr-1">
            <div class="card">
                <img class="imgneg" src="~/front/Content/Images/event2.jpg" />
                <br />
                <h5>نام نمایشگاه</h5>
                <hr />

                <p style="color:black">
                    موضوع
                </p>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <button onclick="location.href='rozane-properties.html';" class="btnkhabar">جزییات </button>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 box col-md-6 col-xs-12 pl-1 pr-1">
            <div class="card">
                <img class="imgneg" src="~/front/Content/Images/event2.jpg" />
                <br />
                <h5>نام نمایشگاه</h5>
                <hr />

                <p style="color:black">
                    موضوع
                </p>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <button onclick="location.href='rozane-properties.html';" class="btnkhabar">جزییات </button>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 box col-md-6 col-xs-12 pl-1 pr-1">
            <div class="card">
                <img class="imgneg" src="~/front/Content/Images/event2.jpg" />
                <br />
                <h5>نام نمایشگاه</h5>
                <hr />

                <p style="color:black">
                    موضوع
                </p>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <button onclick="location.href='rozane-properties.html';" class="btnkhabar">جزییات </button>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 box col-md-6 col-xs-12 pl-1 pr-1">
            <div class="card">
                <img class="imgneg" src="~/front/Content/Images/event2.jpg" />
                <br />
                <h5>نام نمایشگاه</h5>
                <hr />

                <p style="color:black">
                    موضوع
                </p>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <button onclick="location.href='rozane-properties.html';" class="btnkhabar">جزییات </button>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>

    </div>
    <br />
    <br />
    <br />
    <br />
</div>

<br />
<br />
<br />
<br />

